In [1]:
import pandas as pd

df = pd.read_csv('cabaventa.csv')

In [4]:
df.operation_type.value_counts()

Venta    183810
Name: operation_type, dtype: int64

In [7]:
df = df[[x for x in df.columns if "Unnamed" not in x]]

In [11]:
100*df.isna().sum()/len(df)

id                   0.000000
ad_type              0.000000
start_date           0.000000
end_date             0.000000
created_on           0.000000
lat                  6.228170
lon                  6.228170
l1                   0.000000
l2                   0.000000
l3                   1.004842
l4                  96.048637
l5                 100.000000
l6                 100.000000
rooms               15.303846
bedrooms            27.188945
bathrooms           13.556390
surface_total       33.133127
surface_covered     34.017736
price                1.845384
currency             1.998803
price_period        51.732768
title                0.000000
description          0.000000
property_type        0.000000
operation_type       0.000000
dtype: float64

In [12]:
df[["l"+str(i) for i in range(1,7)]]

               l1               l2            l3   l4  l5  l6
0       Argentina  Capital Federal      Floresta  NaN NaN NaN
1       Argentina  Capital Federal      Belgrano  NaN NaN NaN
2       Argentina  Capital Federal      Recoleta  NaN NaN NaN
3       Argentina  Capital Federal     Monserrat  NaN NaN NaN
4       Argentina  Capital Federal   San Nicolás  NaN NaN NaN
...           ...              ...           ...  ...  ..  ..
183805  Argentina  Capital Federal  Monte Castro  NaN NaN NaN
183806  Argentina  Capital Federal      Belgrano  NaN NaN NaN
183807  Argentina  Capital Federal       Palermo  NaN NaN NaN
183808  Argentina  Capital Federal      Belgrano  NaN NaN NaN
183809  Argentina  Capital Federal       Palermo  NaN NaN NaN

[183810 rows x 6 columns]

In [15]:
df.l3.value_counts()

Palermo                 25169
Belgrano                21369
Caballito               11090
Recoleta                10382
Villa Urquiza            8373
Almagro                  8272
Villa Crespo             8211
Barrio Norte             5259
Flores                   5199
Nuñez                    5153
Balvanera                4805
Colegiales               3854
San Nicolás              3607
San Cristobal            3451
Villa Devoto             3228
Saavedra                 3121
Puerto Madero            3075
San Telmo                2766
Villa del Parque         2702
Floresta                 2462
Boedo                    2448
Monserrat                2378
Retiro                   2361
Mataderos                2273
Barracas                 2254
Liniers                  2078
Parque Chacabuco         1804
Villa Pueyrredón         1700
Coghlan                  1681
Villa Luro               1677
Congreso                 1385
Parque Patricios         1311
Chacarita                1308
Villa Lugano             1235
Paternal                 1156
Constitución             1117
Tribunales               1031
Villa Ortuzar            1002
Once                     1000
Centro / Microcentro      939
Villa General Mitre       757
Monte Castro              745
Boca                      739
Villa Santa Rita          687
Las Cañitas               640
Parque Avellaneda         637
Parque Centenario         615
Abasto                    578
Pompeya                   567
Velez Sarsfield           494
Versalles                 470
Parque Chas               425
Agronomía                 373
Villa Real                238
Villa Soldati             171
Catalinas                  96
Villa Riachuelo            45
Name: l3, dtype: int64

In [17]:
df.currency.value_counts()

USD    179806
ARS       330
Name: currency, dtype: int64

In [19]:
df.columns

Index(['id', 'ad_type', 'start_date', 'end_date', 'created_on', 'lat', 'lon',
       'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'rooms', 'bedrooms', 'bathrooms',
       'surface_total', 'surface_covered', 'price', 'currency', 'price_period',
       'title', 'description', 'property_type', 'operation_type'],
      dtype='object')

In [22]:
df.description

0         Lote 365 mts 8,90 x 43 mts C3 II.. FOT 3.6 PAR...
1         Muy buena cochera, en el 4to piso en excelente...
2         Gran Oportunidad! Unica piso de oficinas de 26...
3         Importante  Oficina de de 150 m2 con palier pr...
4         VENTA DE OFICINA A METROS DEL PALACIO DE TRIBU...
                                ...
183805    Corredor Responsable: Rene Vera - CUCICBA 6778...
183806    Casa en pleno Belgrano R reciclada con excelen...
183807    Piso de 419 m2 en un emblemático edificio mode...
183808    Piso de 285mts, en la mejor zona de Belgrano.<...
183809    Edificio Comercial CON ENTRADA INDEPENDIENTE S...
Name: description, Length: 183810, dtype: object